.git
.gitignore
.env
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg-info
dist
build
docs
*.db
tmp
.DS_Store
*.md
Dockerfile
Dockerfile.prod
deployment_vars.env
db_password.txt
db_connection_string.txt
create_secrets.sh
get_secret_arns.sh
