apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: cirkelline-base

namespace: cirkelline

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - secrets.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - pdb.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: cirkelline-system
